{% extends "blog/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <div class="form-group">
            <label for="username">{{ form.username.label_tag }}</label>
            <input class="form-control" autofocus="" id="id_username" maxlength="254" name="username" type="text" required="">
        </div>
        <div class="form-group">
            <label for="password">{{ form.password.label_tag }}</label>
            <input class="form-control" id="id_password" name="password" type="password" required="">
        </div>
        <input class="btn btn-default" type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}